<app-book-search></app-book-search>
<h2>Available Books</h2>

<!--<div class="wrapper">
    <mat-card class="example-card" *ngFor="let book of books">
      <mat-card-header>
        <mat-card-title><a routerLink="/{{book.name}}">{{book.name | truncate:[55, '...']}}</a></mat-card-title>
        <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{book.img_url}}" alt="Photo of a Shiba Inu">-->
      <!--<mat-card-content class="book-info">
          <mat-list>
            <mat-list-item><strong>Publisher</strong>: {{book.publisher | truncate:[25, '...']}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><strong>Language</strong>: {{book.language}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><strong>Pages</strong>: {{book.pages}} pages</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><strong>Geners</strong>: {{book.geners}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ADD TO CART</button>
        <button mat-button>VIEW DETAIL</button>
        <button mat-icon-button disabled class="btn-favorite">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
</div> -->

<ul class="books">
    <li *ngFor="let book of books"
    [class.selected]="book === selectedBook"
    (click)="onSelect(book)">
    <span class="badge">{{book.name}}</span>
    </li>
</ul>
<app-book-detail [book]="selectedBook"></app-book-detail>