<div *ngIf="book">
    <h2>Book Details</h2>
    
    <div><span>Name:</span> {{book.name}}</div>
    <div><span>Isbn:</span> {{book.isbn}}</div>
	<div><span>Author:</span> {{book.author}}</div>
	<div><span>Publisher:</span> {{book.publisher}}</div>
</div>